---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: debug-echoserver
  namespace: echoserver
  labels:
    app: echoserver
spec:
  replicas: 1
  selector:
    matchLabels:
      app: echoserver
  template:
    metadata:
      labels:
        app: echoserver
    spec:
      containers:
        - name: echoserver
          image: honestica/echoserver:2fcc18e26686c002f36b9e72a9be2eb2163eb012
          ports:
            - containerPort: 8080
          resources:
            limits:
              cpu: 10m
              memory: 30Mi
            requests:
              cpu: 10m
              memory: 10Mi

