headlamp:
  config:
    inCluster: true
    baseURL: "https://headlamp.cmoreira.dev"
    oidc:
      secret:
        create: false
      externalSecret:
        enabled: true
        name: headlamp-oidc