apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflared
  namespace: cloudflared
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cloudflared
  template:
    metadata:
      labels:
        app: cloudflared
    spec:
      containers:
      - name: cloudflared
        image: cloudflare/cloudflared:latest
        args:
          - tunnel
          - --config
          - /etc/cloudflared/config.yaml
          - run
        volumeMounts:
          - name: cloudflared-files
            mountPath: /etc/cloudflared
            readOnly: true
      volumes:
        - name: cloudflared-files
          projected:
            sources:
              - secret:
                  name: cloudflared-creds
                  items:
                    - key: creds.json
                      path: creds.json
                    - key: cert.pem
                      path: cert.pem
              - configMap:
                  name: cloudflared-config
                  items:
                    - key: config.yaml
                      path: config.yaml
